{
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "declaration-block-trailing-semicolon": null,
    "color-hex-length": "long",
    "block-opening-brace-space-before": null,
    "selector-class-pattern": null,
    "selector-max-compound-selectors": 5
  }
}
